A API utilizada neste artigo é um pacote chamado yahooquery, criado pelo desenvolvedor americano Douglas Guthrie. Desde o cancelamento das APIs oficiais do Google e Yahoo, a comunidade de ciência de dados vem criando maneiras de extrair informações do mercado financeiro. Essa API não-oficial é uma maneira alternativa de se obter tais dados.

1. Instalando biblioteca

In [ ]:
!pip install yahooquery

2. Importando biblioteca

In [2]:
from yahooquery import Ticker

3. Extraindo dados diários

Um ponto muito importante, os tickers (siglas que identificam as ações) usados pelo Yahoo Finance são um pouco diferentes dos oficiais da Bovespa. Antes de fazer a consulta, é preciso conferir no site qual é o ticker correto,confira alguns exemplos abaixo:

| Oficial   | Yahoo Finance   |
|-----------|-----------------|
| PETR4     | PETR4.SA        |
| ABEV3     | ABEV3.SA        |
| MGLU3     | MGLU3.SA        |

In [3]:
CIEL3 = Ticker("CIEL3.SA")
CIEL3.history(period='max')

                          low     close      open  ...  adjclose  dividends  splits
symbol   date                                      ...
CIEL3.SA 2009-06-29  8.288733  8.424367  8.539906  ...  5.650558        0.0     0.0
         2009-06-30  8.364085  8.464554  8.484648  ...  5.677512        0.0     0.0
         2009-07-01  8.575071  8.956855  8.600188  ...  6.007716        0.0     0.0
         2009-07-02  8.700658  9.052301  8.791080  ...  6.071736        0.0     0.0
         2009-07-03  8.951831  8.961878  9.062348  ...  6.011086        0.0     0.0
...                       ...       ...       ...  ...       ...        ...     ...
         2021-04-15  3.660000  3.680000  3.700000  ...  3.680000        0.0     0.0
         2021-04-16  3.640000  3.680000  3.680000  ...  3.680000        0.0     0.0
         2021-04-19  3.670000  3.670000  3.690000  ...  3.670000        0.0     0.0
         2021-04-20  3.600000  3.650000  3.680000  ...  3.650000        0.0     0.0
         2021-04-22  3.630000  3.750000  3.660000  ...  3.750000        0.0     0.0

[2926 rows x 8 columns]

Consultando um intervalo de tempo específico, adicionando datas de início e fim aos parâmetros:

In [4]:
CIEL3.history(start='2001-01-01', end='2021-04-22')

                         open       volume  ...  dividends  splits
symbol   date                               ...
CIEL3.SA 2009-06-29  8.539906  340657037.0  ...        0.0     0.0
         2009-06-30  8.484648   91353899.0  ...        0.0     0.0
         2009-07-01  8.600188   81824638.0  ...        0.0     0.0
         2009-07-02  8.791080   52866196.0  ...        0.0     0.0
         2009-07-03  9.062348    5594334.0  ...        0.0     0.0
...                       ...          ...  ...        ...     ...
         2021-04-14  3.760000   20196800.0  ...        0.0     0.0
         2021-04-15  3.700000   18375000.0  ...        0.0     0.0
         2021-04-16  3.680000   15110800.0  ...        0.0     0.0
         2021-04-19  3.690000   17065700.0  ...        0.0     0.0
         2021-04-20  3.680000   22171100.0  ...        0.0     0.0

[2925 rows x 8 columns]

4. Extraindo dados intraday

Para dados intraday, o período disponível varia de acordo com o intervalo escolhido. Os intervalos suportados são 30 min, 15 min, 5 min, 2 min e 1 min.

|       Intervalos intraday      | |
|--------------------------------| |
| 30 min | últimos 60 dias úteis |
| 15 min | últimos 60 dias úteis |
| 5 min  | últimos 60 dias úteis |
| 2 min  | últimos 31 dias úteis |
| 1 min  | últimos 7 dias úteis  |

Extraindo intervalos de 30 min:

In [5]:
CIEL3 = Ticker('CIEL3.SA')
CIEL3.history(period='60d',  interval = "30m")

                              close     volume   low  open  high  dividends
symbol   date
CIEL3.SA 2021-01-22 10:00:00   3.57  1650600.0  3.57  3.62  3.62        0.0
         2021-01-22 10:30:00   3.60  1575500.0  3.55  3.57  3.60        0.0
         2021-01-22 11:00:00   3.59  1265200.0  3.58  3.60  3.61        0.0
         2021-01-22 11:30:00   3.57  2081700.0  3.56  3.60  3.61        0.0
         2021-01-22 12:00:00   3.56   910400.0  3.56  3.58  3.58        0.0
...                             ...        ...   ...   ...   ...        ...
         2021-04-22 11:30:00   3.76  8631700.0  3.71  3.72  3.79        0.0
         2021-04-22 12:00:00   3.74  2315400.0  3.74  3.76  3.77        0.0
         2021-04-22 12:30:00   3.75   979300.0  3.74  3.74  3.76        0.0
         2021-04-22 13:00:00   3.75   931100.0  3.74  3.75  3.76        0.0
         2021-04-22 13:29:51   3.75        0.0  3.75  3.75  3.75        0.0

[795 rows x 6 columns]

Extraindo intervalos de 1 minuto:

In [8]:
CIEL3 = CIEL3.history(period='7d',  interval = "1m")
CIEL3

                              close    volume   low  open  high
symbol   date
CIEL3.SA 2021-04-13 10:09:00   3.82       0.0  3.82  3.83  3.83
         2021-04-13 10:10:00   3.82  125200.0  3.81  3.82  3.82
         2021-04-13 10:11:00   3.80  228100.0  3.80  3.81  3.81
         2021-04-13 10:12:00   3.80   40400.0  3.80  3.80  3.81
         2021-04-13 10:13:00   3.80  316400.0  3.80  3.81  3.81
...                             ...       ...   ...   ...   ...
         2021-04-22 13:29:00   3.75    6900.0  3.74  3.75  3.75
         2021-04-22 13:30:00   3.74   68700.0  3.74  3.75  3.75
         2021-04-22 13:31:00   3.75    5600.0  3.74  3.75  3.75
         2021-04-22 13:32:00   3.75   16200.0  3.74  3.74  3.75
         2021-04-22 13:33:06   3.74       0.0  3.74  3.74  3.74

[2645 rows x 5 columns]

4. Informações financeiras

Extraindo dados financeiros para análise fundamentalista. Para isso, são retornados os principais indicadores presentes nos relatórios anuais das empresas, tais como receita, lucro, Ebit, gastos com pesquisa e inovação, etc.

In [10]:
CIEL3 = Ticker("CIEL3.SA")     # Coleta dados
CIEL3.income_statement()       # Chama função de Demonstração de resultados
CIEL3 = CIEL3.income_statement().transpose() # Transpõe a matriz
CIEL3.columns = CIEL3.iloc[0,:] # Renomeia colunas
CIEL3 = CIEL3.iloc[2:,:-1]         # Seleciona dados
CIEL3 = CIEL3.iloc[:, ::-1]    # Inverte colunas
CIEL3

asOfDate                                             2020-12-31  ...   2017-12-31
currencyCode                                                BRL  ...          BRL
BasicAverageShares                                          NaN  ...  2.71298e+09
BasicEPS                                                    NaN  ...      1.49507
CostOfRevenue                                       8.84368e+09  ...  6.29620e+09
DilutedAverageShares                                        NaN  ...   2.7157e+09
DilutedEPS                                                  NaN  ...      1.49356
DilutedNIAvailtoComStockholders                     4.90249e+08  ...  4.05608e+09
EBIT                                                 1.4241e+09  ...  6.98288e+09
EBITDA                                                      NaN  ...          NaN
GeneralAndAdministrativeExpense                     5.09658e+08  ...  5.64778e+08
GrossProfit                                         2.34233e+09  ...  5.30414e+09
ImpairmentOfCapitalAssets                            8.6979e+07  ...   -5.499e+06
InterestExpense                                     4.73129e+08  ...  8.97068e+08
InterestExpenseNonOperating                         4.73129e+08  ...  8.97068e+08
InterestIncome                                      6.80736e+08  ...  2.71682e+09
InterestIncomeNonOperating                          6.80736e+08  ...  2.71682e+09
MinorityInterests                                  -1.41264e+08  ... -2.08551e+08
NetIncome                                           4.90249e+08  ...  4.05608e+09
NetIncomeCommonStockholders                         4.90249e+08  ...  4.05608e+09
NetIncomeContinuousOperations                       6.31513e+08  ...  4.26463e+09
NetIncomeFromContinuingAndDiscontinuedOperation     4.90249e+08  ...  4.05608e+09
NetIncomeFromContinuingOperationNetMinorityInte...  4.90249e+08  ...  4.05608e+09
NetIncomeIncludingNoncontrollingInterests           6.31513e+08  ...  4.26463e+09
NetInterestIncome                                   1.78245e+08  ...  1.78098e+09
NetNonOperatingInterestIncomeExpense                1.78245e+08  ...  1.78098e+09
NormalizedEBITDA                                    2.73958e+09  ...  7.92439e+09
NormalizedIncome                                    5.48009e+08  ...  4.05222e+09
OperatingExpense                                    1.45082e+09  ...  1.01101e+09
OperatingIncome                                     8.91507e+08  ...  4.29312e+09
OperatingRevenue                                     1.1186e+10  ...  1.16003e+10
OtherNonOperatingIncomeExpenses                             NaN  ...  -1.8733e+07
OtherOperatingExpenses                              6.00073e+08  ...  2.57267e+08
OtherunderPreferredStockDividend                              0  ...            0
PretaxIncome                                        9.50973e+08  ...  6.08581e+09
ReconciledCostOfRevenue                             8.84368e+09  ...  6.29620e+09
ReconciledDepreciation                               1.2285e+09  ...  9.47015e+08
SellingAndMarketingExpense                          3.73416e+08  ...  1.88967e+08
SellingGeneralAndAdministration                     8.83074e+08  ...  7.53745e+08
SpecialIncomeCharges                                -8.6979e+07  ...    5.499e+06
TaxEffectOfUnusualItems                            -2.92188e+07  ...  1.64558e+06
TaxProvision                                         3.1946e+08  ...  1.82118e+09
TaxRateForCalcs                                         0.33593  ...      0.29925
TotalExpenses                                       1.02945e+10  ...  7.30722e+09
TotalOperatingIncomeAsReported                      8.29487e+08  ...  4.33085e+09
TotalOtherFinanceCost                                2.9362e+07  ...   3.8779e+07
TotalRevenue                                         1.1186e+10  ...  1.16003e+10
TotalUnusualItems                                   -8.6979e+07  ...    5.499e+06
TotalUnusualItemsExcludingGoodwill                  -8.6979e+07  ...    5.499e+06

[48 rows x 4 columns]